html,
body {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	display: grid;
	place-items: center;
	
	font-family: Roboto, sans-serif;
	background-color: black;
	color: white;
}

a {
	color: #88ddff;
}
	a:active {
		color: #f05555;
	}

#angel-image {
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: 50% 25%;
}
#angel-cover {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	
	background-color: black;
	
	
	z-index: 1;
}
	#angel-cover.reveal-partial {
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-name: fake-reveal;
		height: 91%;
	}
	#angel-cover.reveal-full {
		height: 0%;
	}

@keyframes fake-reveal {
	0%,
	25% {
		height: 100%;
	}
	26%,
	50% {
		height: 97%;
	}
	51%,
	75% {
		height: 94%;
	}
	76%,
	100% {
		height: 91%;
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
	
	font-size: 80%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	
	z-index: 2;
}
